@font-face {
  font-family: 'IBMPlexSansThai';
  /* src: url('https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/IBMPlexSansThai/IBMPlexSansThai-Regular.woff2') format('woff2'); */
  src: url('IBMPlexSansThai-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexSansThaiMedium';
  /* src: url('https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/IBMPlexSansThai/IBMPlexSansThai-Medium.woff2') format('woff2'); */
  src: url('IBMPlexSansThai-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexSansThaiBold';
  /* src: url('https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/IBMPlexSansThai/IBMPlexSansThai-Bold.woff2') format('woff2'); */
  src: url('IBMPlexSansThai-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
